body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
  --main-blue: #3F2AFF;
  --white: #fff;
  --main-purple: #212133;
  --title: #2E2B44;
  --text: #666666;
  --gradient-add: #555681;
}

.section-offset {
  margin-bottom: 80px;
}

.section-title {
  padding-top: 80px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--main-blue);
  color: var(--white);
  padding: 24px 75px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}